
.vs/DirectX11/v16/.suo
.vs/DirectX11/v16/Browse.VC.db
.vs/DirectX11/v16/Browse.VC.db-shm
.vs/DirectX11/v16/Browse.VC.db-wal
.vs/DirectX11/v16/Browse.VC.opendb
.vs/DirectX11/v16/ipch/AutoPCH/1e527fe5e8383d6/DXFW.ipch
.vs/DirectX11/v16/ipch/AutoPCH/2a69a864f5f64be4/MYFUNS.ipch
.vs/DirectX11/v16/ipch/AutoPCH/9fd27864a7773ab4/MYFUNC.ipch
.vs/DirectX11/v16/ipch/AutoPCH/d6bd023fdf02538c/MAIN.ipch
